<html>
<head>

<style type="text/css">
.logo{
	background: #61bade;
	position: relative;
	width: 960X;
	height: 50px;
	margin: 0,194.5px;
	padding: 0px;
	dispaly:block;
	zoom: 1;
}

</head>
</html>